
@{
    ViewData["Title"] = "Form";
}

<h1>Form</h1>

<body>
    <div>
        Podaj link do ogłoszenia, które chcesz pobrać.

    </div>

    <div>

        <form method="post">
            <textarea name="message" rows="2" cols="80"></textarea>
            <input type="submit" value="Send" />
        </form>

    </div>


</body>