@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<body>
    <div>
        Podaj link do ogłoszenia, które chcesz pobrać. 

    </div>

    <div>

        <form method="post">
            <textarea name="message"></textarea>
            <input type="submit" value="Send" />
        </form>

    </div>
       

</body>

